In [1]:
# Import Libararies
import pandas as pd
import numpy as np
import os

In [2]:
# Get working directory
current_dir= os.getcwd()
# Go one directory up to the root directory
project_root_dir= os.path.dirname(current_dir)
project_root_dir
# Define paths to docs folder
data_dir= os.path.join(project_root_dir,'Data')
raw_dir= os.path.join(data_dir,'Raw')
processed_dir=os.path.join(data_dir,'Processed')
results_dir=os.path.join(project_root_dir,'Results')
docs_dir=os.path.join(project_root_dir,'Docs')

In [3]:
aircrash_data_filename= os.path.join(raw_dir,"aircrashesFullData.csv")
df= pd.read_csv(aircrash_data_filename, na_values='?', skipinitialspace=True)
df.head(100)

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Sum of Ground,Sum of Fatalities (air),Sum of Aboard
0,1908,Qtr 3,September,17,Virginia,Wright Flyer,Wright Flyer III?,Fort Myer Virginia,Army U.S. - Military,0,1,2
1,1909,Qtr 3,September,7,France?,Wright,Wright ByplaneSC1,Juvisy-sur-Orge France?,NaN,0,1,1
2,1912,Qtr 3,July,12,New,Dirigible?,Dirigible?,Atlantic City New,Navy U.S. - JerseyMilitary,0,5,5
3,1913,Qtr 3,August,6,British,Curtiss,Curtiss seaplane?,Victoria British,Canada Columbia Private,0,1,1
4,1913,Qtr 3,September,9,NaN,Zeppelin,Zeppelin L 1 (airship)?,Over the North SeaMilitary - German Navy,NaN,0,14,20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1924,Qtr 4,December,24,England,De Havilland,de Havilland DH 34BG,Purley England,Airways Imperial,0,8,8
96,1925,Qtr 1,March,22,Georgia,Junkers,Junkers F 13R,Near Tiflis Georgia,USSRZakavia,0,5,5
97,1925,Qtr 2,April,25,Spain,Breguet,Breguet 14F AFBB,Alicante Spain,Aeriens Express Grands,0,3,3
98,1925,Qtr 2,June,25,France,Fokker (KLM),Fokker (KLM) F.IIIH NABM,Landrécies France,Airlines Dutch Royal KLM,0,4,4
99,1925,Qtr 2,June,26,Spain,Lioré,Lioré et,Alicante Spain,Aeriens Express Grands,0,2,2

In [4]:
df['Month_num'] = pd.to_datetime(df['Month'], format='%B', errors='coerce').dt.month

df['Date'] = pd.to_datetime(
    {
        'year': df['Year'],
        'month': df['Month_num'],
        'day': df['Day']
    },
    errors='coerce'
)
df

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Sum of Ground,Sum of Fatalities (air),Sum of Aboard,Month_num,Date
0,1908,Qtr 3,September,17,Virginia,Wright Flyer,Wright Flyer III?,Fort Myer Virginia,Army U.S. - Military,0,1,2,9,1908-09-17
1,1909,Qtr 3,September,7,France?,Wright,Wright ByplaneSC1,Juvisy-sur-Orge France?,NaN,0,1,1,9,1909-09-07
2,1912,Qtr 3,July,12,New,Dirigible?,Dirigible?,Atlantic City New,Navy U.S. - JerseyMilitary,0,5,5,7,1912-07-12
3,1913,Qtr 3,August,6,British,Curtiss,Curtiss seaplane?,Victoria British,Canada Columbia Private,0,1,1,8,1913-08-06
4,1913,Qtr 3,September,9,NaN,Zeppelin,Zeppelin L 1 (airship)?,Over the North SeaMilitary - German Navy,NaN,0,14,20,9,1913-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5025,2022,Qtr 4,November,6,Tanzania,ATR,ATR 42 5005H,Bukoba Tanzania,Air Precision,0,19,43,11,2022-11-06
5026,2022,Qtr 4,November,18,Peru,Airbus,Airbus 320 271NCC,Lima Peru,LATAM,2,0,108,11,2022-11-18
5027,2022,Qtr 4,November,21,Colombia,Piper,Piper PA 31,Medellín Colombia,SAS Aero,0,8,8,11,2022-11-21
5028,2023,Qtr 1,January,15,Nepal,ATR,ATR 72 500,Pokhara Nepal,Airlines Yeti,0,72,72,1,2023-01-15
5029,2023,Qtr 3,September,16,Brazil,Embraer,Embraer EMB 110P1 BandeirantePT,Barcelos Brazil,Aerotaxi Manaus,0,14,14,9,2023-09-16

In [5]:
df.describe()

,Year,Day,Sum of Ground,Sum of Fatalities (air),Sum of Aboard,Month_num,Date
count,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000,5030
mean,1970.938370,15.783499,1.706163,22.237972,31.013519,6.694433,1971-06-15 00:59:32.803180912
min,1908.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1908-09-17 00:00:00
25%,1951.000000,8.000000,0.000000,4.000000,7.000000,4.000000,1951-06-07 18:00:00
50%,1970.000000,16.000000,0.000000,11.000000,16.000000,7.000000,1970-09-05 12:00:00
75%,1992.000000,23.000000,0.000000,25.000000,34.000000,10.000000,1992-04-15 12:00:00
max,2023.000000,31.000000,2750.000000,583.000000,644.000000,12.000000,2023-09-16 00:00:00
std,24.770415,8.795157,55.132476,34.960979,45.399504,3.530774,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     5030 non-null   int64
 1   Quarter                  5030 non-null   object
 2   Month                    5030 non-null   object
 3   Day                      5030 non-null   int64
 4   Country/Region           4800 non-null   object
 5   Aircraft Manufacturer    5030 non-null   object
 6   Aircraft                 5030 non-null   object
 7   Location                 5030 non-null   object
 8   Operator                 4796 non-null   object
 9   Sum of Ground            5030 non-null   int64
 10  Sum of Fatalities (air)  5030 non-null   int64
 11  Sum of Aboard            5030 non-null   int64
 12  Month_num                5030 non-null   int32
 13  Date                     5030 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int32(1), int64(5), object(7)
memory usage: 530.6+ KB

In [7]:
df.duplicated().sum()

0

In [8]:
df.isna().sum()

Year                         0
Quarter                      0
Month                        0
Day                          0
Country/Region             230
Aircraft Manufacturer        0
Aircraft                     0
Location                     0
Operator                   234
Sum of Ground                0
Sum of Fatalities (air)      0
Sum of Aboard                0
Month_num                    0
Date                         0
dtype: int64

In [9]:
import pycountry

country_mapping = {
    'Bulgeria': 'Bulgaria',
    'Bugaria': 'Bulgaria',
    'England?': 'United Kingdom',
    'France?': 'France',
    'Germany?': 'Germany',
    'China?': 'China',
    'California?': 'United States',
    'Honduras?': 'Honduras',
    'Florida?': 'United States',
    'Californiia': 'United States',
    'Cailifornia': 'United States',
    'Calilfornia': 'United States',
    'Minnisota': 'United States',
    'Ilinois': 'United States',
    'Wisconson': 'United States',
    'Tennesee': 'United States',
    'Mississipi': 'United States',
    'Coloado': 'United States',
    'Deleware': 'United States',
    'Massachutes': 'United States',
    'Airzona': 'United States',
    'Alakska': 'United States',
    'Akalaska': 'United States',
    'Alaksa': 'United States',
    
    'Virginia': 'United States',
    'Ohio': 'United States',
    'Pennsylvania': 'United States',
    'Illinois': 'United States',
    'Maryland': 'United States',
    'Kent': 'United States',
    'Surrey': 'United Kingdom',
    'Indiana': 'United States',
    'Iowa': 'United States',
    'Wyoming': 'United States',
    'Minnesota': 'United States',
    'Wisconsin': 'United States',
    'Nevada': 'United States',
    'Oregon': 'United States',
    'Idaho': 'United States',
    'Connecticut': 'United States',
    'Nebraska': 'United States',
    'Kansas': 'United States',
    'Texas': 'United States',
    'Washington': 'United States',
    'Tennessee': 'United States',
    'California': 'United States',
    'Missouri': 'United States',
    'Massachusetts': 'United States',
    'Utah': 'United States',
    'Florida': 'United States',
    'Michigan': 'United States',
    'Arkansas': 'United States',
    'Colorado': 'United States',
    'Mississippi': 'United States',
    'Alaska': 'United States',
    'Oklahoma': 'United States',
    'Maine': 'United States',
    'Alabama': 'United States',
    'Delaware': 'United States',
    'Arizona': 'United States',
    'Hawaii': 'United States',
    'Louisiana': 'United States',
    'Rhode Island': 'United States',
    'Vermont': 'United States',
    'Montana': 'United States',

    'British': 'United Kingdom',
    'Buckinghamshire': 'United Kingdom',
    'Middlesex': 'United Kingdom',
    'Dorset': 'United Kingdom',
    'Warks': 'United Kingdom',
    'Stirlingshire': 'United Kingdom',
    'Ayrshire': 'United Kingdom',
    'Lancs': 'United Kingdom',
    'Hants': 'United Kingdom',
    'Sussex': 'United Kingdom',
    'Cheshire': 'United Kingdom',

    'Ontario': 'Canada',
    'Alberta': 'Canada',
    'Manitoba': 'Canada',
    'Quebec': 'Canada',
    'Saskatchewan': 'Canada',
    'Newfoundland': 'Canada',
    'Nunavut': 'Canada',
    'Nwt': 'Canada',
    'Labrador': 'Canada',
    'Yukon': 'Canada',
    'Pe': 'Canada',
    'Qc': 'Canada',
    'Nsw': 'Australia',
    'Qld': 'Australia',
    'Qld.': 'Australia',
   
    'Nyus': 'United States',
    'Wyus': 'United States',
    'Italyde': 'Italy',
    'Picrdie': 'France',
    'Oltenia': 'Romania',
    'Argentinade': 'Argentina',
    'Bc': 'Canada',
    'Boliva': 'Bolivia',
    'Jamacia': 'Jamaica',
    'Mexic': 'Mexico',
    'Hunary': 'Hungary',
    'Yugosalvia': 'Serbia',
    'Morroco': 'Morocco',
    'Nambia': 'Namibia',
    'Napal': 'Nepal',
    'Manmar': 'Myanmar',
    'Phillipines': 'Philippines',
    'Philipines': 'Philippines',
    'Philippine': 'Philippines',
    'Baangladesh': 'Bangladesh',
    'Aregntina': 'Argentina',
    'Airlines': 'Unknown',
    'Condor': 'Unknown',
    'Marine': 'Unknown',
    'Cargo': 'Unknown',
    'Persian': 'Iran',
    '800': 'Unknown',
    '18': 'Unknown',
    '325': 'Unknown',
    '100': 'Unknown',
    '116': 'Unknown',
    '110': 'Unknown',
    '570': 'Unknown',
    '10': 'Unknown',
    'The': 'Unknown',
    'On': 'Unknown',
    'Off': 'Unknown',
    'Old': 'Unknown',
    'New': 'Unknown',
    'Near': 'Unknown',
    'East': 'Unknown',
    'West': 'Unknown',
    'North': 'Unknown',
    'South': 'Unknown',
    'Central': 'Unknown',
    'Western': 'Unknown',
    'Northern': 'Unknown',
    'Northwest': 'Unknown',
    'South-West': 'Unknown',
    'Great': 'Unknown',
    'Upper': 'Unknown',
    'Inner': 'Unknown',
    'Black': 'Unknown',
    'Mount': 'Unknown',
    'Mt.': 'Unknown',
    'Prov.': 'Unknown',
    'Providencia': 'Unknown',
    'Valle': 'Unknown',
    'Loire': 'Unknown',
    'Vera': 'Unknown',
    'Veracruz': 'Mexico',
    'Ariège': 'France',
    'Azuay': 'Ecuador',
    'Huila': 'Colombia',
    'Beni': 'Bolivia',
    'Vizcaya': 'Spain',
    'Aargau': 'Switzerland',
    'Aaland': 'Finland',
    'Västergötland': 'Sweden',
    'Norrbotten': 'Sweden',
    'Lombardia': 'Italy',
    'Calabria': 'Italy',
    'Sicily': 'Italy',
    'Sardinia': 'Italy',
    'Corsica': 'France',
    'Lorraine': 'France',
    'Bavaria': 'Germany',
    'Yunan': 'China',
    'Jiangsu': 'China',
    'Sichuan': 'China',
    'Guangxi': 'China',
    'Aichi': 'Japan',
    'Jawa': 'Indonesia',
    'Bali': 'Indonesia',
    'Lombok': 'Indonesia',
    'Sumatra': 'Indonesia',
    'Sarawak': 'Malaysia',
    'Kauai': 'United States',
    'Okinawa': 'Japan',
    'Molokai': 'United States',
    'Catalina': 'United States',
    'Tahiti': 'French Polynesia',
    'Ellesmere': 'Canada',
    'Shetlands': 'United Kingdom',
    'Islay': 'United Kingdom',
    'Canary': 'Spain',
    'Azores': 'Portugal',
    'Terceira': 'Portugal',
    'Channel': 'United Kingdom',
    'Leeward': 'Antigua and Barbuda',
    'Windward': 'Saint Lucia',
    'Gilbert': 'Kiribati',
    'Marshall': 'Marshall Islands',
    'Ryukyu': 'Japan',
    'Mariana': 'Northern Mariana Islands',
    'Guantanamo': 'Cuba',
    'Cocos': 'Cocos (Keeling) Islands',
    'Virgin': 'United States Virgin Islands',
    'Malaya': 'Malaysia',
    'Tanganyika': 'Tanzania',
    'Rhodesia': 'Zimbabwe',
    'Biafra': 'Nigeria',
    'Zaire': 'Democratic Republic of the Congo',
    'Czechoslovakia': 'Czech Republic',
    'Yugoslavia': 'Serbia',
    'Soviet Union': 'Russia',
    'Ussrbalkan': 'Bulgaria',
    'Ussrmilitary': 'Russia',
    'Ussraeroflot': 'Russia',
    'Ussraerflot': 'Russia',
    'Ukbritish': 'United Kingdom',
    'Uaegulf': 'United Arab Emirates',
    'Uarmisrair': 'Unknown',
    'Dr Congo': 'Democratic Republic of the Congo',
    'Democtratic': 'Unknown',
    'Democratic': 'Unknown',
    'Republic': 'Unknown',
    'Russian Federation': 'Russia',
    'Iran (Islamic Republic Of)': 'Iran',
    'Bolivia (Plurinational State Of)': 'Bolivia',
    'Venezuela (Bolivarian Republic Of)': 'Venezuela',
    'Lao People’S Democratic Republic': 'Laos',
    'Syrian Arab Republic': 'Syria',
    'Hrvatska': 'Croatia',
    'Kirghizia': 'Kyrgyzstan',
    'Mauretania': 'Mauritania',
    'Malagasy': 'Madagascar',
    'Djbouti': 'Djibouti',
    'Hati': 'Haiti',
    'Domincan': 'Dominican Republic',
    'Australila': 'Australia',
    'Inodnesia': 'Indonesia',
    'Miao-Li': 'Taiwan',
    'Wantagh': 'United States',
    'Horley': 'United Kingdom',
    'Brisbane': 'Australia',
    'Madrid': 'Spain',
    'Tokyo': 'Japan',
    'Jeddah': 'Saudi Arabia',
    'Chicago': 'United States',
    'Boston': 'United States',
    'Los Angeles': 'United States',
    'San Francisco': 'United States',
    'Cardiff': 'United Kingdom',
    'Amsterdam': 'Netherlands',
    'London': 'United Kingdom',
    'Victoria': 'Canada',
    'Puerto Rico': 'United States',
    'D.C.': 'United States',
    'D.C.Capital': 'United States',
    'D.C.Air': 'United States',
    'Columbia': 'United States',
    'Surinam': 'Suriname',
    'Cameroons': 'Cameroon',
    'Sierre': 'Sierra Leone',
    'Caduncan': 'Unknown',
    'Bias': 'Unknown',
    'Besar': 'Unknown',
    'Buea': 'Cameroon',
    'Placentia': 'Canada',
    'Margarita': 'Venezuela',
    'Volcano': 'Unknown',
    'Tusayan': 'United States',
    'Glens': 'Unknown',
    'Miles': 'Unknown',
    'Ross': 'Unknown',
    'Cook': 'Cook Islands',
    'St.': 'Unknown',
    'St.': 'Unknown',
    'St.': 'Unknown',
    'Saint': 'Unknown',
    'Sao': 'Unknown',
    'Val-De-Marne': 'France',
    'Cundinamarca': 'Colombia',
    'Guanacaste': 'Costa Rica',
    'Huanuco': 'Peru',
    'Zulia': 'Venezuela',
    'Nuevo': 'Mexico',
    'Suiyang': 'China',
    'Sulu': 'Philippines',
    'Khmer': 'Cambodia',
    'Malinau': 'Indonesia',
    'Trento': 'Italy',
    'Airlines': 'Unknown',
    'Air': 'Unknown',
    'Condor': 'Unknown',
    'Marine': 'Unknown',
    'Cargo': 'Unknown',
    'Persian': 'Iran',
    '800': 'Unknown',
    '18': 'Unknown',
    '325': 'Unknown',
    '100': 'Unknown',
    '116': 'Unknown',
    '110': 'Unknown',
    '570': 'Unknown',
    '10': 'Unknown',
    "'-": 'Unknown',
    'N': 'Unknown',
    'Ne': 'Unknown',
    'Da': 'Unknown',
    'De': 'Unknown',
    'Dr': 'Unknown',
    'Sc': 'Unknown',
    'Sk': 'Unknown',
    'Pq': 'Unknown',
    'Wa': 'Unknown',
    'Pe': 'Canada',
    'Qc': 'Canada',
    'Nwt': 'Canada',
    'Nsw': 'Australia',
    'Qld': 'Australia',
    'Qld.': 'Australia',
    'Bc': 'Canada',
    'Fl': 'United States',
    'The': 'Unknown',
    'On': 'Unknown',
    'Off': 'Unknown',
    'Old': 'Unknown',
    'New': 'Unknown',
    'Near': 'Unknown',
    'East': 'Unknown',
    'West': 'Unknown',
    'North': 'Unknown',
    'South': 'Unknown',
    'Central': 'Unknown',
    'Western': 'Unknown',
    'Northern': 'Unknown',
    'Northwest': 'Unknown',
    'South-West': 'Unknown',
    'Great': 'Unknown',
    'Upper': 'Unknown',
    'Inner': 'Unknown',
    'Black': 'Unknown',
    'Mount': 'Unknown',
    'Mt.': 'Unknown',
    'Prov.': 'Unknown',
    'Providencia': 'Unknown',
    'Valle': 'Unknown',
    'Loire': 'Unknown',
    'Vera': 'Unknown',
    'Veracruz': 'Mexico',
    'Ariège': 'France',
    'Azuay': 'Ecuador',
    'Huila': 'Colombia',
    'Beni': 'Bolivia',
    'Vizcaya': 'Spain',
    'Aargau': 'Switzerland',
    'Aaland': 'Finland',
    'Västergötland': 'Sweden',
    'Norrbotten': 'Sweden',
    'Lombardia': 'Italy',
    'Calabria': 'Italy',
    'Sicily': 'Italy',
    'Sardinia': 'Italy',
    'Corsica': 'France',
    'Lorraine': 'France',
    'Bavaria': 'Germany',
    'Yunan': 'China',
    'Jiangsu': 'China',
    'Sichuan': 'China',
    'Guangxi': 'China',
    'Aichi': 'Japan',
    'Jawa': 'Indonesia',
    'Bali': 'Indonesia',
    'Lombok': 'Indonesia',
    'Sumatra': 'Indonesia',
    'Sarawak': 'Malaysia',
    'Kauai': 'United States',
    'Okinawa': 'Japan',
    'Molokai': 'United States',
    'Catalina': 'United States',
    'Tahiti': 'French Polynesia',
    'Ellesmere': 'Canada',
    'Shetlands': 'United Kingdom',
    'Islay': 'United Kingdom',
    'Canary': 'Spain',
    'Azores': 'Portugal',
    'Terceira': 'Portugal',
    'Channel': 'United Kingdom',
    'Leeward': 'Antigua and Barbuda',
    'Windward': 'Saint Lucia',
    'Gilbert': 'Kiribati',
    'Marshall': 'Marshall Islands',
    'Ryukyu': 'Japan',
    'Mariana': 'Northern Mariana Islands',
    'Guantanamo': 'Cuba',
    'Cocos': 'Cocos (Keeling) Islands',
    'Virgin': 'United States Virgin Islands',
    'Malaya': 'Malaysia',
    'Tanganyika': 'Tanzania',
    'Rhodesia': 'Zimbabwe',
    'Biafra': 'Nigeria',
    'Zaire': 'Democratic Republic of the Congo',
    'Czechoslovakia': 'Czech Republic',
    'Yugoslavia': 'Serbia',
    'Soviet Union': 'Russia',
    'Ussrbalkan': 'Bulgaria',
    'Ussrmilitary': 'Russia',
    'Ussraeroflot': 'Russia',
    'Ussraerflot': 'Russia',
    'Ukbritish': 'United Kingdom',
    'Uaegulf': 'United Arab Emirates',
    'Uarmisrair': 'Unknown',
    'Dr Congo': 'Democratic Republic of the Congo',
    'Democtratic': 'Unknown',
    'Democratic': 'Unknown',
    'Republic': 'Unknown',
    'Russian Federation': 'Russia',
    'Iran (Islamic Republic Of)': 'Iran',
    'Bolivia (Plurinational State Of)': 'Bolivia',
    'Venezuela (Bolivarian Republic Of)': 'Venezuela',
    'Lao People’S Democratic Republic': 'Laos',
    'Syrian Arab Republic': 'Syria',
    'Hrvatska': 'Croatia',
    'Kirghizia': 'Kyrgyzstan',
    'Mauretania': 'Mauritania',
    'Malagasy': 'Madagascar',
    'Djbouti': 'Djibouti',
    'Hati': 'Haiti',
    'Domincan': 'Dominican Republic',
    'Australila': 'Australia',
    'Inodnesia': 'Indonesia',
    'Miao-Li': 'Taiwan',
    'Wantagh': 'United States',
    'Horley': 'United Kingdom',
    'Brisbane': 'Australia',
    'Madrid': 'Spain',
    'Tokyo': 'Japan',
    'Jeddah': 'Saudi Arabia',
    'Chicago': 'United States',
    'Boston': 'United States',
    'Los Angeles': 'United States',
    'San Francisco': 'United States',
    'Cardiff': 'United Kingdom',
    'Amsterdam': 'Netherlands',
    'London': 'United Kingdom',
    'Victoria': 'Canada',
    'Puerto Rico': 'United States',
    'D.C.': 'United States',
    'D.C.Capital': 'United States',
    'D.C.Air': 'United States',
    'Columbia': 'United States',
    'Surinam': 'Suriname',
    'Cameroons': 'Cameroon',
    'Sierre': 'Sierra Leone',
    'Caduncan': 'Unknown',
    'Bias': 'Unknown',
    'Besar': 'Unknown',
    'Buea': 'Cameroon',
    'Placentia': 'Canada',
    'Margarita': 'Venezuela',
    'Volcano': 'Unknown',
    'Tusayan': 'United States',
    'Glens': 'Unknown',
    'Miles': 'Unknown',
    'Ross': 'Unknown',
    'Cook': 'Cook Islands',
    'St.': 'Unknown',
    'St.': 'Unknown',
    'St.': 'Unknown',
    'Saint': 'Unknown',
    'Sao': 'Unknown',
    'Val-De-Marne': 'France',
    'Cundinamarca': 'Colombia',
    'Guanacaste': 'Costa Rica',
    'Huanuco': 'Peru',
    'Zulia': 'Venezuela',
    'Nuevo': 'Mexico',
    'Suiyang': 'China',
    'Sulu': 'Philippines',
    'Khmer': 'Cambodia',
    'Malinau': 'Indonesia',
    'Trento': 'Italy',
    'Airlines': 'Unknown',
    'Air': 'Unknown',
    'Condor': 'Unknown',
    'Marine': 'Unknown',
    'Cargo': 'Unknown',
    'Persian': 'Iran',
    '800': 'Unknown',
    '18': 'Unknown',
    '325': 'Unknown',
    '100': 'Unknown',
    '116': 'Unknown',
    '110': 'Unknown',
    '570': 'Unknown',
    '10': 'Unknown',
    "'-": 'Unknown',
    'N': 'Unknown',
    'Ne': 'Unknown',
    'Da': 'Unknown',
    'De': 'Unknown',
    'Dr': 'Unknown',
    'Sc': 'Unknown',
    'Sk': 'Unknown',
    'Pq': 'Unknown',
    'Wa': 'Unknown',
    'Pe': 'Canada',
    'Qc': 'Canada',
    'Nwt': 'Canada',
    'Nsw': 'Australia',
    'Qld': 'Australia',
    'Qld.': 'Australia',
    'Bc': 'Canada',
    'Fl': 'United States'
}

def clean_country(country):
    if pd.isna(country):
        return 'Unknown'
    

    country = str(country).strip().replace('\n', ' ').replace('\t', ' ')
    
  
    if '\n' in country or '\t' in country:
        country = country.split('\n')[0].split('\t')[0]
    
 
    if 'Brazil' in country:
        return 'Brazil'
    if 'Spain' in country:
        return 'Spain'
    if 'China' in country:
        return 'China'
    if 'India' in country:
        return 'India'
    if 'United States' in country:
        return 'United States'
    if 'United Kingdom' in country:
        return 'United Kingdom'

    if country in country_mapping:
        return country_mapping[country]
    

    if country.replace('.', '').isdigit():
        return 'Unknown'
    

    if '?' in country:
        clean = country.replace('?', '').strip()
        if clean in country_mapping:
            return country_mapping[clean]
        else:
            return clean
    
 
    if len(country.split()) == 1 and country not in pycountry.countries:
        return 'Unknown'
    
    return country

df['Country/Region'] = df['Country/Region'].apply(clean_country)


valid_countries = [country.name for country in pycountry.countries]
df['Country/Region'] = df['Country/Region'].apply(
    lambda x: x if x in valid_countries or x == 'Unknown' else 'Unknown'
)

In [10]:
print(df['Country/Region'].unique())

['United States' 'France' 'Unknown' 'United Kingdom' 'Bulgaria' 'India'
 'Spain' 'China' 'Germany' 'Italy' 'Australia' 'Brazil' 'Canada' 'Romania'
 'Serbia' 'Honduras' 'Mexico' 'Netherlands' 'Japan' 'Kiribati' 'Sweden'
 'Cocos (Keeling) Islands' 'Malaysia' 'Costa Rica' 'Portugal'
 'Marshall Islands' 'Cameroon' 'Northern Mariana Islands' 'Argentina'
 'Bangladesh' 'Jamaica' 'Philippines' 'Switzerland' 'Finland' 'Indonesia'
 'Colombia' 'Madagascar' 'Nigeria' 'Peru' 'French Polynesia' 'Cambodia'
 'Hungary' 'Croatia' 'Zimbabwe' 'Saudi Arabia' 'Mauritania' 'Djibouti'
 'Ecuador' 'Antigua and Barbuda' 'Suriname' 'Sierra Leone' 'Cook Islands'
 'Cuba' 'Kyrgyzstan' 'Dominican Republic' 'Haiti' 'Myanmar' 'Morocco'
 'Nepal' 'Namibia']

In [11]:
# STEP 1: Standardize formatting
df['Aircraft Manufacturer'] = df['Aircraft Manufacturer'].astype(str).str.strip().str.title()

# STEP 2: Create a replacement dictionary
aircraft_replacements = {
    '?139': 'Unknown',
    '?42': 'Unknown',
    '?Nc21V': 'Unknown',
    '?Vh': 'Unknown',
    '?Vp': 'Unknown',
    'A': 'Unknown',
    'Aac': 'Unknown',
    'Aegkd': 'Unknown',
    'Aero Commander': 'Aero Commander',
    'Aero Commander Ac': 'Aero Commander',
    'Aerocomp Comp Air': 'Aerocomp Comp Air',
    'AeroflotCccp': 'Aeroflot',
    'AeroflotL5057': 'Aeroflot',
    'Aeromarine Model 85 (Flying': 'Aeromarine',
    'Aerospatiale': 'Aerospatiale',
    'Aérospatiale': 'Aerospatiale',
    'Aerospatiale 330G': 'Aerospatiale',
    'Aerospatiale 330J': 'Aerospatiale',
    'Aerospatiale Alenia': 'Aerospatiale',
    'Aerospatiale As 332L1 Super': 'Aerospatiale',
    'Aerospatiale As 350B2': 'Aerospatiale',
    'Aerospatiale As350 Eurocopter': 'Aerospatiale',
    'Aerospatiale As350Ba': 'Aerospatiale',
    'Aerospatiale Bae Concorde': 'Aerospatiale',
    'Aerospatiale Caravelle': 'Aerospatiale',
    'Aerospatiale Caravelle Super': 'Aerospatiale',
    'Aerospatiale Nord': 'Aerospatiale',
    'Aérospatiale/Aeritalia': 'Aerospatiale',
    'Aerospeciale': 'Aerospatiale',
    'Agusta A109A Mk': 'Agusta',
    'Airbus': 'Airbus',
    'Airbusa310': 'Airbus',
    'Airship?': 'Unknown',
    'Airspeed': 'Airspeed',
    'Airspeed Ambassador': 'Airspeed',
    'Airspeed As.57 Ambassador': 'Airspeed',
    'Antonov': 'Antonov',
    'Antonov An': 'Antonov',
    'Antonov An26Sh76': 'Antonov',
    'Antonv': 'Antonov',
    'Arado': 'Arado',
    'Arava': 'IAI',
    'Armstrong': 'Armstrong Whitworth',
    'Armstrong Whitworth Argosy': 'Armstrong Whitworth',
    'At L98': 'Unknown',
    'Atr': 'ATR',
    'Atr42': 'ATR',
    'Avia': 'Avia',
    'Aviation Traders': 'Aviation Traders',
    'Avro': 'Avro',
    'Avro  685 York': 'Avro',
    'Avro 683': 'Avro',
    'Avro 685': 'Avro',
    'Avro 685 York': 'Avro',
    'Avro 688 Super': 'Avro',
    'Avro 688 Tudor': 'Avro',
    'Avro 689 Tudor': 'Avro',
    'Avro 691': 'Avro',
    'Avro 691 Lancastrian': 'Avro',
    'Avro 691 Lancastrian (Flying': 'Avro',
    'Avro Lancaster': 'Avro',
    'Avro Ninteen': 'Avro',
    'Avro Shackleton': 'Avro',
    'Avro York': 'Avro',
    'B':'Unknown',
    "B17G Flying": "Boeing",
    "BAC": "Beech Aircraft Corporation",
    "BAC One": "Beech Aircraft Corporation",
    "BAC One Eleven": "Beech Aircraft Corporation",
    "BAC Super": "Beech Aircraft Corporation",
    "BAe": "British Aerospace",
    "BAe 3101 Jetstream": "British Aerospace",
    "BAE Avro": "Avro",
    "BAe Jetstream": "British Aerospace",
    "Bandeirante": "Embraer",
    "Beech": "Beech",
    "Beech 200 Super King": "Beech",
    "Beech King Air": "Beech",
    "Beech King Air 200": "Beech",
    "Beech Queen Air": "Beechcraft Queen Air",
    "Beechcraft 100 King": "Beechcraft",
    "Beechcraft 1900D / Cessna": "Beechcraft",
    "Beechcraft A100 King": "Beechcraft",
    "Beechcraft B200 Super King": "Beechcraft",
    "Beechcraft B300 King": "Beechcraft",
    "Beechcraft B300 King Air": "Beechcraft",
    "Beechcraft C99 / Rockwell": "Beechcraft",
    "Beechcraft SKA": "Beechcraft",
    "Bell 407 / Bell 407N407GA /": "Bell",
    "Bell Huey": "Bell",
    "Black Hawk": "Sikorsky",
    "Blackburn Beverley C Mark": "Blackburn",
    "Bleriot Spad": "Blériot",
    "Blériot Spad": "Blériot",
    "Boeing  377": "Boeing",
    "Boeing B52 Stratofortress/Boeing KC": "Boeing",
    "Boeing CH47A": "Boeing",
    "Boeing Vertol": "Boeing",
    "Boeing Vertol CH47A": "Boeing",
    "Boeing Vertol CH47B": "Boeing",
    "Boeing Vertol CH47C": "Boeing",
    "Boeing Vertol Chinook": "Boeing",
    "Boeing Vetrol 107 II": "Boeing",
    "Both Eurocopter": "Eurocopter",
    "Bristol 170 Freighter": "Bristol",
    "Bristol 170 Freighter 31 Mark": "Bristol",
    "Bristol 175 Britannia": "Bristol",
    "Bristol 28": "Bristol",
    "British Aerospace  BAe Jetstream": "British Aerospace",
    "British Aerospace 3101 Jetstream": "British Aerospace",
    'British Aerospace 748': 'British Aerospace',
    "British Aerospace BAe": "British Aerospace",
    "British Aerospace Jetstream": "British Aerospace",
    "Britten Norman BN": "Britten-Norman",
    "Beechcraft": "Beechcraft",
    "Beechcraft Super King Air":"Beechcraft",
    "Bell":"Bell",
    "Bell 204B":"Bell",
    "Bell 205":"Bell",
    "Bell 206":"Bell",
    "Bell 206B":"Bell",
    "Bell 212FAC":"Bell",
    "Bell 214":"Bell",
    "Bell 412":"Bell",
    "Blackburn":"Blackburn",
    "Bleriot":"Blériot",    
    "Bloch":"Bell",
    "Boeing":"Boeing",
    "Boeing 307":"Boeing",
    "Boeing 307 Stratoliner":"Boeing",
    "Boeing 314A": "Boeing",
    "Boeing 377": "Boeing",
    "Boeing 377 Stratocruiser":"Boeing",
    "Boeing 40":"Boeing",
    "Boeing 737 Max":"Boeing",
    "Bristol Britannia":"Bristol",
    "British Aerospace":"British",
    "British Aerospace Nimrod":"British Aerospace",
    "Bombardier":"Bombardier",
    "Boulton and Paul":"Boulton and Paul",
    "Breguet":"Breguet",
    "Breguet 14":"Breguet",
    "Bristol 170 Freighter":"Bristol",
    "Bristol 170 Freighter 31 Mark":"Bristol",
   
    "C": "Unknown",
    "Canadair CRJ200LR": "Bombardier",
    "Casa 212": "CASA",
    "Casa 352": "CASA",
    "Catalina Flying": "Consolidated",
    "Cessna  208B Grand": "Cessna",
    "Cessna  501": "Cessna",
    "Cessna 207 / Cessna": "Cessna",
    "Cessna 208 Grand": "Cessna",
    "Cessna 208A Caravan I": "Cessna",
    "Cessna 208B Caravan I Super": "Cessna",
    "Cessna 402 / Piper": "Cessna",
    "Cessna 404 Titan": "Cessna",
    "Cessna 404 Titan Courier": "Cessna",
    "Cessna 421 Golden": "Cessna",
    "Cessna 421C Golden": "Cessna",
    "Cessna 500 Citation": "Cessna",
    "Cessna 501": "Cessna",
    "Cessna 550 Citation": "Cessna",
    "Cessna 560 Citation": "Cessna",
    "CF": "Unknown",
    "CH": "Unknown",
    "CH53E Sea": "Sikorsky",
    "CMASA Wal (flying": "CMASA Wal",
    "Consolidated  32 Liberator": "Consolidated",
    "Consolidated Liberator B24": "Consolidated",
    "ConvairCV": "Convair",
    "CRDA CANT": "CANT",
    "Curtis": "Curtiss",
    "Curtiss Carrier": "Curtiss",
    "Curtiss Wright": "Curtiss",
    'Dassault': 'Dassault',
    'Dassault Breguet': 'Dassault',
    'Dassault Falcon': 'Dassault',
    'Dc': 'Douglas DC',
    'Dc3(C47)Fac': 'Douglas DC-3 (C-47)',
    'De Hav Can.': 'De Havilland Canada',
    'De Havilland': 'De Havilland',
    'De Havilland  Canada': 'De Havilland',
    'De Havilland Can.': 'De Havilland',
    'De Havilland Canada': 'De Havilland',
    'De Havilland Canada Dhc 3T Turbine': 'De Havilland',
    'De Havilland Comet': 'De Havilland',
    'De Havilland Dh.104 Dove': 'De Havilland',
    'De Havilland Dh.80 Puss': 'De Havilland',
    'De Havilland Dh.89 Dragon': 'De Havilland',
    'De Havilland Dh106 Comet': 'De Havilland',
    'De Havilland Dh114 Heron': 'De Havilland',
    'De Havilland Dhc': 'De Havilland',
    'De Havilland Dove': 'De Havilland',
    'De Havilland Dragon': 'De Havilland',
    'De Havilland 89A Dragon': 'De Havilland',
    'De Havilland 89 Dragon': 'De Havilland',
    'De Havilland Canada Twin Otter': 'De Havilland',
    'Dehvilland': 'De Havilland',
    'Dehavilland': 'De Havilland',
    'Dewoitine': 'Dewoitine',
    'Desoutter': 'Desoutter',
    'Dhc': 'De Havilland',
    'Dormier': 'Dornier',
    'Domier Delphin Iii (Flying': 'Dornier',
    'Dornier': 'Dornier',
    'Dornier Do.18 (Float': 'Dornier',
    'Dirigible': 'Dirigible',
    'Dirigible Roma': 'Dirigible Roma',
    'Dirigible?': 'Unknown',
    'Doublas': 'Douglas',
    'Douglas': 'Douglas',
    'Douglas Dc': 'Douglas DC',
    'EC': 'Unknown',
    'EMB 721C': 'Embraer',
    'Embraer 110': 'Embraer',
    'Embraer 110 P1': 'Embraer',
    'Embraer 110C': 'Embraer',
    'Embraer 110EJ Band./Embraer 110P': 'Embraer',
    'Embraer 110P': 'Embraer',
    'Embraer 110P1': 'Embraer',
    'Embraer 110P1A': 'Embraer',
    'Embraer 110P2': 'Embraer',
    'Embraer 120': 'Embraer',
    'Embraer 120ER': 'Embraer',
    'Embraer 120RT': 'Embraer',
    'Embraer 820C': 'Embraer',
    'Embraer/Piper': 'Embraer',
    
    'Eurocopter  AS332L2 Super': 'Eurocopter',
    'Eurocopter AS': 'Eurocopter',
    'Eurocopter AS 332L2 Super Puma': 'Eurocopter',
    'Eurocopter AS350D': 'Eurocopter',
    'Eurocopter Deutschland': 'Eurocopter',
    'Eurocopter EC': 'Eurocopter',
    'Eurocopter EC135': 'Eurocopter',
    'Eurocopter EC225LP Super Puma M2+': 'Eurocopter',
    'F': 'Unknown',
    'Fairchild C119G / Fairchild': 'Fairchild',
    'Fairchild Hiller': 'Fairchild',
    'Fairchild packet (C119 flying': 'Fairchild',
    'Fairchild Pilgrim': 'Fairchild',
    'Fairchild R4Q / Dougas': 'Fairchild',
    'Fairchild?': 'Fairchild',
    'Fairey Firefly': 'Fairey',
    'Farman F.60': 'Farman',
    'FD Type': 'Unknown',
    'Five Grumman TBM': 'Grumman',
    'Fletcher': 'Unknown',
    'Focke': 'Focke-Wulf',
    'Fokker (KLM)': 'Fokker',
    'Fokker 27 Friendship': 'Fokker',
    'Fokker 28 Fellowship': 'Fokker',
    'Fokker F10A': 'Fokker',
    'Fokker FG': 'Fokker',
    'Fokker Super': 'Fokker',
    'Fokker Universal': 'Fokker',
    'Fokker UniversalNC52': 'Fokker',
    'Ford model': 'Ford',
    'GAF N22B': 'GAF Nomad',
    'Gates Learjet': 'Learjet',
    'General': 'Unknown',
    'General Aviation': 'Unknown',
    'Goodyear': 'Goodyear Aerospace',
    'Grazhdansky Vozdushnyi Flot': 'GVF',
    'Grumman G73T Turbo': 'Grumman',
    'Grumman Gulfstream': 'Grumman',
    'Grummand': 'Grumman',
    'Grummand Gulfstream': 'Grumman',
    'GVF': 'GVF',
    'Hadley Page 137Jetstream I / Cessna 206N11360 /': 'Handley Page',
    'Hal': 'Hindustan Aeronautics',
    'Hamilton': 'Hamilton',
    'Handley Page': 'Handley Page',
    'Handley Page Dart Herald': 'Handley Page',
    'Handley Page Halifax': 'Handley Page',
    'Handley Page Hastings': 'Handley Page',
    'Handley Page Hastings C Mark': 'Handley Page',
    'Handley Page Jetstream': 'Handley Page',
    'Harbin Yunshuji': 'Harbin Yunshuji',
    'Hawker': 'Hawker',
    'Hawker Siddeley': 'Hawker',
    'Hawker Siddeley Hs': 'Hawker',
    'Hawker Siddeley Trident': 'Hawker',
    'Hawker Siddeley Trident 2E /': 'Hawker',
    'Heinkel': 'Heinkel',
    'Helicopter, Hughes': 'Helicopter',
    'Helicopter?': 'Helicopter',
    'Hesa': 'HESA',
    'Hindustan Aeronautics': 'Hindustan',
    'Hindustan Aeronautics 748': 'Hindustan',
    'Howard': 'Howard',
    'Hs': 'HS',
    'Hughes': 'Helicopter',
    'Iai 1124': 'IAI',
    'Iai 1124A': 'IAI',
    'Iai 1124A Westwind': 'IAI',
    'Iai Arava': 'IAI',
    'Iai Attava': 'IAI',
    'Illyushin': 'Ilyushin',
    'Ilushin': 'Ilyushin',
    'Iluyshin': 'Ilyushin',
    'Ilysushin': 'Ilyushin',
    'Ilyushin': 'Ilyushin',
    'Ilyushin 14M': 'Ilyushin',
    'Ilyushin Il': 'Ilyushin',
    'Ilyushin76Td4K': 'Ilyushin',
    'Iptn 332C Super': 'IPTN',
    'Junkers': 'Junkers',
    'Junkers 52/3M': 'Junkers',
    'Junkers Ju86': 'Junkers',
    'Kalinin': 'Kalinin',
    'Kawasaki': 'Kawasaki',
    'Kb': 'KB',
    'Kj': 'KJ',
    'Koolhoven': 'Koolhoven',
    'Kubicek Bb85Z Hot Air': 'Kubicek',
    'Lasco': 'Lasco',
    'Latecoere': 'Latécoère',
    'Latécoère': 'Latécoère',
    'Latécoère 23 (Flying': 'Latécoère',
    'Latécoère 300 (Float': 'Latécoère',
    'Latecoere 301 (Flying': 'Latécoère',
    'Latecoere 631 (Flying': 'Latécoère',
    'Latecoere 631 (Sea': 'Latécoère',
    'Lear Jet': 'Lear jet',
    'Learjet': 'Lear jet',
    'Let': 'LET',
    'Let  410M': 'LET',
    'Let 410': 'LET',
    'Let 410M': 'LET',
    'Let 410Mt': 'LET',
    'Let 410Uvp': 'LET',
    'Let 410Uvp Turbojet / Tupolev': 'LET',
    'Let Aero': 'LET',
    'Li': 'Unknown',
    'Liore': 'Liore',
    'Lioré': 'Liore',
    'Liore Et Olivier': 'Liore',

    'Lisnov': 'Lisunov',
    'Lisunov': 'Lisunov',

    'Lockhed 10': 'Lockheed',
    'Lockheed': 'Lockheed',
    'Lockheed  188A': 'Lockheed',
    'Lockheed  5': 'Lockheed',
    'Lockheed 049': 'Lockheed',
    'Lockheed 10': 'Lockheed',
    'Lockheed 10 Electra': 'Lockheed',
    'Lockheed 1049C Super': 'Lockheed',
    'Lockheed 1049E Super': 'Lockheed',
    'Lockheed 1049G Super': 'Lockheed',
    'Lockheed 1049H Super': 'Lockheed',
    'Lockheed L 1049G Super': 'Lockheed',
    
    'Lockheed 10A': 'Lockheed',
    'Lockheed 10B': 'Lockheed',
    'Lockheed 10C': 'Lockheed',
    'Lockheed 10E': 'Lockheed',

    'Lockheed 1329 Jetstar': 'Lockheed',
    'Lockheed 14': 'Lockheed',
    'Lockheed 14 Super': 'Lockheed',
    'Lockheed 14H Super': 'Lockheed',
    'Lockheed 1649A': 'Lockheed',

    'Lockheed 18': 'Lockheed',
    'Lockheed 188A': 'Lockheed',
    'Lockheed L188A': 'Lockheed',
    'Lockheed 188C': 'Lockheed',

    'Lockheed 5': 'Lockheed',
    'Lockheed 749': 'Lockheed',
    'Lockheed 749A': 'Lockheed',
    'Lockheed 9': 'Lockheed',

    'Lockheed Hudson': 'Lockheed',
    'Lockheed Hercules': 'Lockheed',
    'Lockheed Martin': 'Lockheed',
    'Lockheed Orion': 'Lockheed',
    'Lockheed Orion 9E Explorer Float': 'Lockheed',
    'Lockheed P2V': 'Lockheed',
    'Lockheed Super': 'Lockheed',
    'Lockheed Vega': 'Lockheed',

    'Loening': 'Loening',
    'Lvg C': 'LVG C',

    'M28': 'PZL M28',

    'Macchi': 'Macchi',
    'Martin': 'Martin',
    'Martin 202A /': 'Martin',
    'Martin Pbm': 'Martin',
    'Mc Donnell Dougals': 'McDonnell Douglas',
    'Mc Donnell Douglas': 'McDonnell Douglas',
    'Mc Donnel': 'McDonnell',
    'Mcdonnell': 'McDonnell',
    'Mcdonnell Douglas': 'McDonnell Douglas',
    'Md': 'McDonnell Douglas',
    'Md Douglas': 'McDonnell Douglas',

    'Messerschmitt': 'Messerschmitt',

    'Mh': 'Military Helicopter',

    'Mi': 'Mil',
    'Mi 172 V5': 'Mil',
    'Mig': 'Mikoyan',

    'Military': 'Military Aircraft',

    'Mitsubishi': 'Mitsubishi',
    'Mitsubishi Mu 2B': 'Mitsubishi',

    'Nakajima': 'Nakajima',

    'Namc': 'NAMC',

    'Noorduyn': 'Noorduyn',

    'Nord': 'Nord',
    'Nord 2501': 'Nord',

    'Norman': 'Britten-Norman',
    'North American': 'North American Aviation',

    'Northrop': 'Northrop',
    'Northrop Alpha': 'Northrop',

    'Ofm': 'Unknown',
    
    'Pa': 'Piper PA Series',
    'Pac': 'Pacific Aerospace',
    'Pacific': 'Pacific Aerospace',

    'Pby': 'Consolidated PBY Catalina',
    'Pby4': 'Consolidated PBY Catalina',

    'Piaggio': 'Piaggio',

    'Pilatus': 'Pilatus',
    'Pilatus Britten Norman': 'Pilatus Britten',

    'Pilgrim': 'Pilgrim',

    'Piper': 'Piper',
    'Piper Aerostar 601 / Bell 412Spn3645D /': 'Piper Aerostar',
    'Piper Navajo': 'Piper Navajo',

    'Pitcairn': 'Pitcairn',
    'Pitcairns': 'Pitcairn',

    'Potez': 'Potez',

    'Pzl': 'PZL',

    'R4D': 'Douglas R4D Skytrain',
    'Saab':'Saab',
    'Reims Aviation': 'Reims Aviation',
    'Saab Scandia': 'Saab',
    'Saab Scandia / Cessna': 'Saab',
    'Saab340BB': 'Saab',
 
    'Sabca': 'SABCA',
    'Salmson': 'Salmson',
    'Saro': 'Saunders-Roe',
    'Savbia': 'Savbia',
    'Savoia': 'Savbia',
    'Savoia Marchetti': 'Savbia',
    'Savoia Marchetti SM': 'Savbia',
    'Schutte': 'Schütte-Lanz',
    'Sepecat Jaguar': 'SEPECAT Jaguar',

    'Shaanxi': 'Shaanxi',
    'Shaanxi Yunshuji': 'Shaanxi',
    'Shin Meiwa': 'ShinMaywa',

    'Short Calcutta (flying': 'Short Calcutta',
    'Short Empire flying': 'Short Empire',
    'Short S.23 Empire Flying': 'Short Empire',
    'Short S23 ‘C’ Class flying': 'Short Empire',
    'Short Sandringham (flying': 'Short Sandringham',
    'Short Sandringham 2 (flying': 'Short Sandringham',
    'Short Sandringham 5 (flying': 'Short Sandringham',
    'Short Sandringham 6 (flying': 'Short Sandringham',
    'Short Solent 3 (flying': 'Short Solent',
    'Short Stirling': 'Short Stirling',
    'Short Sunderland': 'Short Sunderland',
    'Short Sunderland 9 (flying': 'Short Sunderland',
    'Shorts': 'Short Brothers',
    'Shorts SC.7 Skyvan': 'Short SC.7 Skyvan',

    'Siebel': 'Siebel',
    'Sikorksky': 'Sikorsky',
    'Sikorsky  S 76': 'Sikorksky',
    'Sikorsky CH53D / Sikorsky CH53D357 /': 'Sikorksky',
    'Sikorsky S': 'Sikorsky',
    'Sikorsky S43 (flying': 'Sikorksky',
    'Sikorsly': 'Sikorsky',
    'Sirkorsky': 'Sikorsky',
    'Sirkorsky 44A (flying': 'Sikorksky',

    'SNCASE': 'Sud-Est',
    'SNCASE SE.2010': 'Sud-Est SE.2010',
    'SNIAS': 'Aérospatiale',

    'Socata': 'Socata',
    'Soloy': 'Soloy',
    'Spad': 'SPAD',
    'Spartan': 'Spartan Aircraft',
    'SPCA Meteore': 'SPCA',
    'Stearman': 'Boeing-Stearman',
    'Stinson Model': 'Stinson',
    'Stinson Reliant': 'Stinson Reliant',
    'Stinson SM': 'Stinson',
    'Stinson SM6000B': 'Stinson SM6000',
    'Stinson?': 'Stinson',
    'Sud': 'Sud Aviation',
    'Sud Aviation': 'Sud Aviation',
    'Sud Aviation Caravelle': 'Sud Aviation',
    'Sud Aviation SE 210 Caravelle': 'Sud Aviation',
    'Sukhoi': 'Sukhoi',
    'Sukhoi Superjet': 'Sukhoi',
    'Super Zeppelin': 'Zeppelin',
    'Supermarine Stranraer (flying': 'Supermarine Stranraer',

    'Swallow': 'Swallow',
    'Swallow?': 'Swallow',
    'Swear.': 'Swearingen',
    'Swearingen': 'Swearingen',
    'Swearingen 226TC Metro': 'Swearingen',
    'Swearingen SA.226TC Metro': 'Swearingen',
    'Swearingen SA.227AC': 'Swearingen',
    'Swearingen SA.227AC Metro': 'Swearingen',
    'Swearingen SA.227AT Merlin': 'Swearingen',
    'Swearingen SA227AC Metro': 'Swearingen',
    'Swearingen SA227AC Metroliner': 'Swearingen',
    'Swearingen SA227AT Merlin': 'Swearingen',

    'Robertson R44': 'Robinson R44',
    
    'Rochrbach': 'Rohrbach',
    'Rohrbach': 'Rohrbach',

    'Rockwell': 'Rockwell',
    'Rockwell 500S Shrike': 'Rockwell',
    'Rockwell Gulfstream Jetprop 840': 'Rockwell',
    'Rockwell International': 'Rockwell',
    'Rockwell Sabreliner': 'Rockwell',

    'Royal Airship Works': 'Royal Airship Works',

    'Rutan Long Ez (Experimental': 'Rutan Long-EZ',
    'Ryan': 'Ryan Aeronautical',
    

    'Tempest?': 'Hawker Tempest',
    'Transall': 'Transall C-160',
    'Transportes Aéreos': 'Transportes Aéreos',

    'Travel Air': 'Travel Air',
    'Travel Air 6000': 'Travel Air',

    'Tuolev': 'Tupolev',
    'Tupolev': 'Tupolev',
    'Tupolev A.N.T.': 'Tupolev',
    'Tupolev Tu': 'Tupolev',

    'Twin': 'Twin-engine Aircraft',

    'Uc': 'Unknown',
    'Uh': 'Unknown',

    'Unknown /': 'Unknown',

    'Urocopter As350': 'Eurocopter',
    'V6': 'Unknown',
    'VC': 'Unknown',
    'VEB': 'VolksEigener Betrieb',

    'Vickers 604 Viking': 'Vickers Viking',
    'Vickers 610': 'Vickers Viking',
    'Vickers 610 Viking': 'Vickers Viking',
    'Vickers 614 Viking': 'Vickers Viking',
    'Vickers 615 Viking': 'Vickers Viking',
    'Vickers 616 Viking': 'Vickers Viking',
    'Vickers 620 Viking': 'Vickers Viking',
    'Vickers 621 Viking': 'Vickers Viking',
    'Vickers 628 Viking': 'Vickers Viking',
    'Vickers 634': 'Vickers Viking',
    'Vickers 634 Viking': 'Vickers Viking',
    'Vickers 639 Viking': 'Vickers Viking',
    'Vickers 708': 'Vickers Viscount',
    'Vickers 720': 'Vickers Viscount',
    'Vickers 74': 'Vickers Viscount',
    'Vickers 757': 'Vickers Viscount',
    'Vickers 785D': 'Vickers Viscount',
    'Vickers 798D': 'Vickers Viscount',
    'Vickers 802': 'Vickers Viscount',
    'Vickers 804': 'Vickers Viscount',
    'Vickers 813': 'Vickers Viscount',
    'Vickers 815': 'Vickers Viscount',
    'Vickers 828': 'Vickers Viscount',
    'Vickers 837': 'Vickers Viscount',
    'Vickers 952F': 'Vickers Valetta',
    'Vickers Valetta Mk1 / Avero LancasterVX562 /': 'Vickers Valetta',
    'Vickers Viking 1B & Soviet': 'Vickers Viking',
    'Vickers Viscount 745D /': 'Vickers Viscount',
    'Vickers Viscount 754D / Douglas': 'Vickers Viscount',
    'Vickers Viscount 764': 'Vickers Viscount',
    'Vickers Viscount 827 / Fokker': 'Vickers Viscount',
    'Vickers Valetta Mk1 / Avero Lancastervx562 /':"Vickers Valetta",
    
    'Volpar': 'Volpar',
    'Vultee': 'Vultee',

    'Vickers Valetta': 'Vickers Valetta',
    'Vickers Vanguard': 'Vickers Vanguard',
    'Vickers Viking': 'Vickers Viking',
    'Vickers Viscount': 'Vickers Viscount',
    'Vickers Wellington': 'Vickers Wellington',
    
    'Waco, Model': 'Waco',

    'Wapiti?': 'Westland Wapiti',

    'Westland Sea King': 'Westland Sea King',

    'Wibault': 'Wibault',

    'Wright': 'Wright',
    'Wright Flyer': 'Wright',

    'Xian': 'Xian',
    'Xian Yunshuji': 'Xian Yunshuji',
    'Yunshuji': 'Xian Yunshuji',

    'Yakovlev': 'Yakovlev',
     'Tempest?':'Tempest',
    'Zeppelin': 'Zeppelin',
    'Zeppelin Dixmunde': 'Zeppelin',
    'Zepplin': 'Zeppelin',
    'Cmasa Wal (Flying':'Cmasa Wal',
    'Short Calcutta (Flying':'Short Calcutta',
    'Sirkorsky 44A (Flying':'Sirkorsky',
    'Sikorsky S43 (Flying':'Sikorsky',
    'Supermarine Stranraer (Flying':'Supermarine',
    'Short Sandringham 6 (Flying':'Short Sandringham',
    'Short Solent 3 (Flying':'Short Solent',
    'Bell 407 / Bell 407N407Ga /':'Bell',
    'Short Sandringham 2 (Flying':'Short Sandringham',
    'Short Sandringham 5 (Flying':'Short Sandringham',
    'Short Sandringham 9 (Flying':'Short Sandringham',
    'Short Sandringham (Flying':'Short Sandringham',
    'Fairchild Packet (C119 Flying':'Fairchild Packet',
    'Handley Page Jetstream / Cessna 206':'Handley Page',
    'Sikorsky Ch53D / Sikorsky Ch53D357 /':'Sikorsky',
    'Eurocopter As350D' 'Bell 407 / Bell 407N407Ga /':'Uknown',
    '??':'Uknown',
    'Swearingen Sa.226Tc Metro':'Swearingen',
    'Embraer 110Ej Band./Embraer 110P' 'Mcdonnel':'Embraer',
    'Beechcraft C99':'Beechcraft',
    'Ch':'Unknown',
    'Cessna 208 Caravan':'Cessna',
    'Fokker (Klm)':'Fokker',
    'Aeromarine Model 85':'Aeromarine',
    'Lockheed 10B Electra':'Lockheed',
    'Stinson Sm':'Stinson',
    'Stinson Sm6000B':'Stinson',
    'Short':'Short Brothers',
    'Atr 42':'Atr 42',
    'Eurocopter Ec':'Eurocopter',
    'Eurocopter As':'Eurocopter',
    'Boeing 737':'Boeing',
    'Beechcraft King Air B300':'Beechcraft',
    'Antonov An-26Sh':'Antonov',
    'Lockheed L-749 Constellation':'Lockheed',
    'Short Sunderland 9 (Flying':'Short Sunderland',
    'Embraer 110Ej Band./Embraer 110P':'Embraer'
    
    
}
df['Aircraft Manufacturer'] = df['Aircraft Manufacturer'].replace(aircraft_replacements)
df['Aircraft Manufacturer'] = df['Aircraft Manufacturer'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [12]:
def fix_incomplete_parentheses(text):
        if '(' in text and ')' not in text:
            return text + ')'
        else:
            return text
            
            df['Aircraft'] = df['Aircraft'].apply(fix_incomplete_parentheses)

In [13]:
df.loc[:,"Aircraft"]=df.loc[:,"Aircraft"].str.strip("?")
df['Aircraft'].unique()

array(['Wright Flyer III', 'Wright ByplaneSC1', 'Dirigible', ...,
       'Airbus 320 271NCC', 'ATR 72 500',
       'Embraer EMB 110P1 BandeirantePT'], dtype=object)

In [14]:
df.columns

Index(['Year', 'Quarter', 'Month', 'Day', 'Country/Region',
       'Aircraft Manufacturer', 'Aircraft', 'Location', 'Operator',
       'Sum of Ground', 'Sum of Fatalities (air)', 'Sum of Aboard',
       'Month_num', 'Date'],
      dtype='object')

In [15]:
df

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Sum of Ground,Sum of Fatalities (air),Sum of Aboard,Month_num,Date
0,1908,Qtr 3,September,17,United States,Wright,Wright Flyer III,Fort Myer Virginia,Army U.S. - Military,0,1,2,9,1908-09-17
1,1909,Qtr 3,September,7,France,Wright,Wright ByplaneSC1,Juvisy-sur-Orge France?,NaN,0,1,1,9,1909-09-07
2,1912,Qtr 3,July,12,Unknown,Unknown,Dirigible,Atlantic City New,Navy U.S. - JerseyMilitary,0,5,5,7,1912-07-12
3,1913,Qtr 3,August,6,United Kingdom,Curtiss,Curtiss seaplane,Victoria British,Canada Columbia Private,0,1,1,8,1913-08-06
4,1913,Qtr 3,September,9,Unknown,Zeppelin,Zeppelin L 1 (airship),Over the North SeaMilitary - German Navy,NaN,0,14,20,9,1913-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5025,2022,Qtr 4,November,6,Unknown,ATR,ATR 42 5005H,Bukoba Tanzania,Air Precision,0,19,43,11,2022-11-06
5026,2022,Qtr 4,November,18,Unknown,Airbus,Airbus 320 271NCC,Lima Peru,LATAM,2,0,108,11,2022-11-18
5027,2022,Qtr 4,November,21,Unknown,Piper,Piper PA 31,Medellín Colombia,SAS Aero,0,8,8,11,2022-11-21
5028,2023,Qtr 1,January,15,Unknown,ATR,ATR 72 500,Pokhara Nepal,Airlines Yeti,0,72,72,1,2023-01-15
5029,2023,Qtr 3,September,16,Brazil,Embraer,Embraer EMB 110P1 BandeirantePT,Barcelos Brazil,Aerotaxi Manaus,0,14,14,9,2023-09-16

In [16]:
df['Aircraft Manufacturer'].unique()

array(['Wright', 'Unknown', 'Curtiss', 'Zeppelin', 'Schütte-Lanz',
       'De Havilland', 'Fd Type', 'Caproni', 'Farman',
       'Armstrong Whitworth', 'Junkers', 'Salmson', 'Breguet',
       'Handley Page', 'Avro', 'Royal Airship Works', 'Potez', 'Bristol',
       'Dirigible Roma', 'Aeromarine', 'Uknown', 'Blériot', 'LVG C',
       'Liore', 'Fokker', 'Dirigible', 'SPAD', 'Caudron', 'Sikorsky',
       'Fokker Fg', 'Ryan Aeronautical', 'Swallow Swallow?', 'Douglas',
       'Spca Meteore', 'Fokker Universalnc52', 'Dornier', 'Fairchild',
       'Latécoère', 'Boeing', 'Rohrbach', 'Ford', 'Vickers Viscount',
       'Hamilton', 'Travel Air', 'Boeing-Stearman', 'Cmasa', 'Cams',
       'Lockheed', 'Kalinin', 'Pitcairn', 'Short Calcutta', 'Loening',
       'Savbia', 'Arado', 'SABCA', 'Messerschmitt', 'Desoutter', 'Lasco',
       'Heinkel', 'Stinson', 'Northrop', 'Curtiss Condor',
       'Goodyear Aerospace', 'Cmasa Wal', 'Focke-Wulf', 'Dewoitine',
       'Wibault', 'Tupolev', 'Westland Wapiti', 'Consolidated',
       'Ford Model', 'Waco', 'Short Brothers', 'Vultee',
       'Spartan Aircraft', 'Saunders-Roe', 'Crda Cant',
       'Boulton And Paul', 'Blackburn', 'Antonov', 'Short Empire Flying',
       'Stinson Reliant', 'Cant', 'Martin', 'Macchi', 'Douglas DC',
       'Nakajima', 'Short S23 ‘C’ Class Flying', 'Caudron C.635',
       'Koolhoven', 'Airspeed', 'Savoia Marchetti Sm', 'Mitsubishi',
       'Bell', 'Grumman', 'Siebel', 'Sirkorsky', 'Gvf', 'GVF',
       'Short Sunderland', 'Pilgrim', 'Douglas R4D Skytrain',
       'Consolidated Catalina', 'Short Empire', 'Lisunov',
       'North American Aviation', 'Short Stirling', 'Faucett', 'Budd',
       'Five Grumman Tbm', 'De Hvilland 89A Dragon', 'Vickers Wellington',
       'Consolidated PBY Catalina', 'Supermarine', 'Fairey',
       'Vickers Viking', 'Short Sandringham', 'Ilyushin', 'Fiat',
       'Hawker', 'Consolidated Canso', 'Tempest', 'CASA', 'Convair',
       'Vickers Valetta', 'Sncase', 'Curtiss C', 'Fairchild Packet',
       'Bristol 170', 'Vc', 'Vickers', 'Canadair', 'Aeroflotl5057',
       'Aero Commander', 'Cf', 'Sncase Se.2010', 'L', 'LET',
       'Short Solent', 'Aeroflotcccp', 'Saab', 'Beechcraft Bonanza',
       'Nord', 'Noorduyn', 'Sud Aviation', 'McDonnell Douglas', 'Avia',
       'KB', 'Channel Air', 'Beechcraft', 'Twin-engine Aircraft', 'Piper',
       'H', 'Veb', 'Boeing Vetrol 107 Ii', 'Bac', 'Beech', 'Cessna',
       'Caravelle', 'Ec', 'Transportes Aéreos', 'Vickers Vanguard',
       'Lear jet', 'Douglas DC-3 (C-47)',
       'Boeing B52 Stratofortress/Boeing Kc', 'Boeing Ch47A',
       'Chance Vought', 'NAMC', 'Bac One Eleven', 'Bac One', 'Mikoyan',
       'Piaggio', 'Britten', 'Boeing Vertol Ch47C', 'Boeing Vertol Ch47A',
       'Pilatus', 'Aerospatiale', 'Learjet', 'Boeing Vertol Ch47B',
       'Yakovlev', 'Hindustan Aeronautics', 'Bac Super', 'Volpar',
       'Britten-Norman', 'Transall C-160', 'De Havilland Canada',
       'Embraer', 'IAI', 'Gaf Nomad', 'Airbus',
       'Sud Aviation Se 210 Caravelle', 'Helicopter', 'Snias',
       'British Aerospace', 'Beechcraft Queen Air', 'Soloy',
       'Britten Norman', 'Hindustan', 'Britten Norman Bn', 'Cessna 441',
       'Casa 212 Aviocar', 'Swearingen 226Tc Metro', 'Dassault',
       'Cessna 404', 'Westland Sea King', 'Swearingen Sa.227Ac Metro',
       'Mil', 'Kawasaki', 'ShinMaywa', 'Casa', 'Swearingen', 'Mcdonnel',
       'HS', 'SEPECAT Jaguar', 'Howard', 'Embraer 120Rt', 'Enstrom',
       'British', 'Swearingen Sa.227Ac', 'Military Aircraft', 'Agusta',
       'Cessna 402C', 'Cessna 208B Caravan', 'Cessna 441 Conquest',
       'IPTN', 'Piper Aerostar', 'Shaanxi', 'Mil Mi 8T', 'Xian Yunshuji',
       'ATR', 'Convaircv', 'Harbin Yunshuji', 'Aviation Traders',
       'Rutan Long-EZ', 'Saab340Bb', 'Eurocopter', 'Rockwell', 'Burgess',
       'Bell 214St', 'Bae Jetstream', 'British Aerospace Bae Jetstream',
       'Piper Navajo', 'Beechcraft Ska', 'Shorts Sc.7 Skyvan',
       'Swearingen Sa.227At Merlin', 'Cessna 208', 'Bae Avro',
       'Military Helicopter', 'Sukhoi', 'Embraer 120Er',
       'Fokker F27 Friendship', 'Emb 721C', 'Cessna 208B Grand',
       'Sikorksky', 'Reims Aviation', 'Robinson R44',
       'Swearingen Sa227At Merlin', 'Swearingen Sa227Ac Metro', 'PZL',
       'Bae', 'Canadair Crj200Lr', 'Bae 3101 Jetstream', 'Bombardier',
       'McDonnell', 'Ch53E Sea', 'KJ', 'Mc Donnell Douglas 369Ff',
       'Pilatus Britten', 'Eurocopter As332L2 Super',
       'Swearingen Sa227Ac Metroliner', 'Eurocopter As350D',
       'Eurocopter As 332L2 Super Puma', 'Gaf N22B', 'Xian',
       'Bell 212Fac', 'Piper PA Series', 'Eurocopter Ec135',
       'British Aerospace Bae', 'Aerocomp Comp Air', 'HESA',
       'Pacific Aerospace', 'Eurocopter Ec225Lp Super Puma M2+',
       'Kubicek', 'PZL M28', 'Socata'], dtype=object)

In [17]:
df['Location'] = df['Location'].astype(str).str.lower().str.strip()

df['Location'] = df['Location'].replace({
    'fort myer virginia': 'virginia',
    'juvisy-sur-orge france?': 'france',
    'atlantic city new': 'atlantic',
    '...': 'unknown', 
    'eleftheroupolis greece': 'eleftheroupolis',
    'bukoba tanzania': 'tanzania',
    'barcelos brazil': 'brazil',
})

In [18]:
df['Location'].unique()

array(['virginia', 'france', 'atlantic', ..., 'eleftheroupolis',
       'tanzania', 'brazil'], dtype=object)

In [19]:
df['Operator'] = df['Operator'].replace({
    'Northwestern Air Lease LTD': 'Northwestern Air Lease',
    '(Aerocaribe) Aerolatino': 'Aerocaribe Aerolatino',
    '(Air Indiana)        Inc. Services Jet National': 'Air Indiana Inc. Services Jet National',
    '(Argentina) Aeras Lineas Austral': 'Aeras Lineas Austral',
    '(Argentina) FAMA': 'FAMA',
    '(Belgium) SA CongoSobelair': 'SA CongoSobelair',
    '(BIAS)? Congo CongoAir the of Republic': 'BIAS Congo CongoAir',
    '(Bolivia) TAM': 'TAM',
    '(Bolivia) TAM - Military': 'TAM - Military',
    '(Brazil) TAM': 'TAM',
    '(CAA) Aviation d\' Africaine Compagnie': 'Aviation d\'Africaine Compagnie',
    '(Canada) Ltd. Services Flying Curtiss-Reid': 'Services Flying Curtiss-Reid',
    '(Comair) Airways AfricaCommercial': 'Comair Airways AfricaCommercial',
    '(France) Intercontinentaux Aerien Transport': 'Intercontinentaux Aerien Transport',
    '(France) Intercontinentaux T.A.': 'Intercontinentaux T.A.'
})

df['Operator'] = df['Operator'].fillna('Unknown')

In [20]:

df['Operator'] = df['Operator'].str.strip('?')
df['Operator'].unique()

array(['Army U.S. - Military', 'Unknown', 'Navy U.S. - JerseyMilitary',
       ..., 'LATAM', 'SAS Aero', 'Aerotaxi Manaus'], dtype=object)

In [21]:
df.fillna({
    'Year':'Unknown',
    'Quarter':'Unknown',
    'Month':'Unknown',
    'Day':'Unknown',
    'Country/Region': 'Unknown',
    'Aircraft': 'Unknown',
    'Location': 'Unknown',
    'Aircraft Manufacturer': 'Unknown',
    'Sum of Ground':'Unknown',
    'Sum of Fatalities (air)':'Unknown',
    'Sum of Aboard':'Unknown'
}, inplace=True)

In [22]:
df.isna().sum()

Year                       0
Quarter                    0
Month                      0
Day                        0
Country/Region             0
Aircraft Manufacturer      0
Aircraft                   0
Location                   0
Operator                   0
Sum of Ground              0
Sum of Fatalities (air)    0
Sum of Aboard              0
Month_num                  0
Date                       0
dtype: int64

In [23]:

df['Year'] = df['Year'].astype('Int64')
df['Day'] = df['Day'].astype('Int64')
df['Month_num'] = df['Month_num'].astype('Int64')
df['Sum of Ground'] = df['Sum of Ground'].astype('Int64')
df['Sum of Fatalities (air)'] = df['Sum of Fatalities (air)'].astype('Int64')
df['Sum of Aboard'] = df['Sum of Aboard'].astype('Int64')
df

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Sum of Ground,Sum of Fatalities (air),Sum of Aboard,Month_num,Date
0,1908,Qtr 3,September,17,United States,Wright,Wright Flyer III,virginia,Army U.S. - Military,0,1,2,9,1908-09-17
1,1909,Qtr 3,September,7,France,Wright,Wright ByplaneSC1,france,Unknown,0,1,1,9,1909-09-07
2,1912,Qtr 3,July,12,Unknown,Unknown,Dirigible,atlantic,Navy U.S. - JerseyMilitary,0,5,5,7,1912-07-12
3,1913,Qtr 3,August,6,United Kingdom,Curtiss,Curtiss seaplane,victoria british,Canada Columbia Private,0,1,1,8,1913-08-06
4,1913,Qtr 3,September,9,Unknown,Zeppelin,Zeppelin L 1 (airship),over the north seamilitary - german navy,Unknown,0,14,20,9,1913-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5025,2022,Qtr 4,November,6,Unknown,ATR,ATR 42 5005H,tanzania,Air Precision,0,19,43,11,2022-11-06
5026,2022,Qtr 4,November,18,Unknown,Airbus,Airbus 320 271NCC,lima peru,LATAM,2,0,108,11,2022-11-18
5027,2022,Qtr 4,November,21,Unknown,Piper,Piper PA 31,medellín colombia,SAS Aero,0,8,8,11,2022-11-21
5028,2023,Qtr 1,January,15,Unknown,ATR,ATR 72 500,pokhara nepal,Airlines Yeti,0,72,72,1,2023-01-15
5029,2023,Qtr 3,September,16,Brazil,Embraer,Embraer EMB 110P1 BandeirantePT,brazil,Aerotaxi Manaus,0,14,14,9,2023-09-16

In [24]:
#df.drop(df.tail(1).index, inplace=True)

In [26]:
#df.to_csv('Aircrash_file.csv', index=False, encoding='utf-8')